.footer-box
  %ul.footer-wrap
    %li.footer-text プライバシーポリシー
    %li.footer-text メルカリ利用規約
    %li.footer-text 特定商取引に関する表記

  .footer-image
    = link_to image_tag("/img/logo_gray.svg", width: '70', height: '70'), root_path
  .footer-copy
    %p &copy; 2019 Mercari