.progress-wrap
  .progress-image
  = link_to image_tag('/img/logo_red.svg', width: '150', height: '100'), root_path
  %ur.progress-bar
    %li.progress-bar-red
      %span.return-color 会員情報
    %li.progress-bar-red
      %span.return-color 電話番号認証
    %li.progress-bar-red
      %span.return-color お届け先住所入力
    %li.progress-bar-red
      %span.return-color 支払い方法
    %li.progress-bar-red
      %span 完了
  .progress-bar-clear

%label{for: "progressbar"}
%progress#progressbar{max: "100", value: "100"}

.member-wrap
  %h2 会員登録完了
  .field
    .member-person-wrap-suer-text-center
      %p ありがとうございます
      %p 会員登録が完了しました。
  
  = link_to 'メルカリをはじめる',root_path , class: "submit-button" 


= render 'signups/footer'
