.entry_wrapper-btn
  .top_image
    = link_to image_tag('/img/fmarket_logo_red.svg', width: '300', height: '150'), root_path
  .button-wrap-bold
    %h2 新規会員登録
  .button-wrap
    =link_to new_signup_path, class: 'btn' do
      %i.far.fa-envelope
      .btn-mail-text メールアドレスで登録する。

    =link_to user_facebook_omniauth_authorize_path, class: 'btn-blue' do
      %i.fab.fa-facebook-square
      .btn-mail-text Facebookで登録する

    =link_to user_google_oauth2_omniauth_authorize_path, class: 'btn-white' do
      %i.fab.fa-google
      .btn-mail-text Googleで登録する

= render 'signups/footer'
