.mypassword {
  background: #fff;
  float: right;
  width: 700px;
  height: 670px;
  color: #333;
  padding-bottom: 64px; 
  &-wrapper {
    padding: 40px 40px 64px;
    width: 343px;
    margin: auto;
  }
    &-group {
      margin-top: 32px;
      &-top {
        margin: 0;
      }
    }
  & h2 {
    height: 50px;
    text-align: center;
    font-size: 24px;
    background: #fff;
    line-height: 50px;
    font-weight: bold;
    border-bottom: 2px solid #eee;
  }
}
.mypassword-text {
  color: #888;
  margin-top: 8px;
  font-size: 14px;
}