.profile{
  float: right;
  width: 700px;
  background-color: #fff;


  &__title{
  font-size: 24px;
  padding: 8px 24px;
  text-align: center;
  height: 50px;
  }
  &__box{
  height: 540px;
  }
  &__list{
    background-image: url("https://www.mercari.com/jp/assets/img/mypage/user-bg.jpg?19795168");
    background-repeat: no-repeat;
    background-size: cover;
    height: 60px;
    padding: 72px 16px 24px;
    display: flex;
    align-items: center;
  }
  .user-icon3{
    display: inline-block;
    overflow: hidden;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 170px;
  }

  &__name{
    height: 25px;
    width: 220px;
    margin-left: 8px;
    border: 1px solid #ccc;
    background: #fff;
    padding: 10px 16px 8px;
    border-radius: 4px;
    font-size: 14px;
  }
  &__list2{
    padding: 40px 16px;
    height: 362px;
  }
  &__text{
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
    line-height: 1.5;
    min-height: 216px;
    width: 646px;
  }

  &__btn{
    margin-top: 16px;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    text-align: center;
  }
}
