.content__box4{
  background: #fff;
}
.content2{
  height: 74px;
  background: #fff;
  display: flex;
  width: 100%;
}
.menu3{
  width: 33.3%;
  background: #fff;
  border-top: 2px solid #ea352d;
  font-size: 16px;
  line-height: 72px;
  text-align: center;
}
.menu3name{

}
.menu4{
  width: 33.3%;
  background: #eee;
  font-size: 16px;
  line-height: 72px;
  text-align: center;
}
.menu4name{

}
.menu5{
  width: 33.3%;
  background: #eee;
  font-size: 16px;
  line-height: 72px;
  text-align: center;
}
.menu5name{

}