.flex-style {
    display: flex;
    border-bottom: 1px solid #eee;
}

.content__menu li {
    cursor: pointer;
    transition: .1s;
}

.content__menu li.active {
    color: #333;
    background: #fff;
    border-top: 2px solid #ea352d;
    cursor: auto;
}

.content__box4 {
    background: #fff;
}

.content__box2 ul {
    display: none;
}

.content2 {
    height: 74px;
    background: #fff;
    display: flex;
    width: 100%;
}

.content__box2 ul.content__lists {
    display: block;
}

.content__hako {
    height: auto;
    .post-content {
        display: flex;
        height: 80px;
        border-bottom: solid 1px #eaeaea;
        .post-img {
            width: 8%;
            padding: 15px;
        }
        .post-detail {
            width: 92%;
            line-height: 40px;
            margin: 0 10px;
        }
        .itme-image {
            width: 52px;
            height: 100%;
        }
        .detail-btn {
            display: flex;
            .like-btn {
                margin: 0px 5px;
            }
            .comment-btn {
                margin: 0px 5px;
            }
        }
    }
}

.menu3 {
    width: 33.3%;
    background: #fff;
    border-top: 2px solid #ea352d;
    font-size: 16px;
    line-height: 72px;
    text-align: center;
}

.menu3name {}

.menu4 {
    width: 33.3%;
    background: #eee;
    font-size: 16px;
    line-height: 72px;
    text-align: center;
}

.menu4name {}

.menu5 {
    width: 33.3%;
    background: #eee;
    font-size: 16px;
    line-height: 72px;
    text-align: center;
}

.menu5name {}

.content__menu_type2 {
    display: flex;
    height: 74px;
}

.content__box4 ul {
    display: none;
}

.content__box4 ul.content__lists_type2 {
    display: block;
}

.content__menu_type2 li {
    cursor: pointer;
}

.content__menu_type2 li.active {
    color: #333;
    background: #fff;
    border-top: 2px solid #ea352d;
    cursor: auto;
}
.menu6{
    width: 33.3%;
    background: #eee;
    font-size: 16px;
    line-height: 72px;
    text-align: center;
    .menu3name2{

    }
}

.menu7{
    width: 33.3%;
    background: #fff;
    border-top: 2px solid #ea352d;
    font-size: 16px;
    line-height: 72px;
    text-align: center;
    .menu5name2{

    }
}
.itme-image2{
    width: 52px;
    height: 100%;
}
    .items-box_photo__sold3{
        width: 0;
        height: 0;
        border-top: 20px solid #ea352d ;
        border-right: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-left: 20px solid #ea352d ;
        z-index:100;
        position: absolute;
        &__inner3{
          transform: rotate(-45deg);
          font-size: 1px;
          margin: -30px -55px 0px -30px;
          color: #fff;
          letter-spacing: 2px;
          font-weight: 600;
        }
      }

