= render partial: 'posts/header', post: @post
.navi
  - breadcrumb :confirmation_mypage
  = render "layouts/breadcrumbs"

.main

  = render partial: "side"
= render partial: 'posts/footer', post: @post