.bottom
  .bottom__box
    .bottom__left
      .bottom__name1 スマホでかんたんフリマアプリ
      .bottom__name2 今すぐ無料ダウンロード ！
      .bottom__app
        =link_to image_tag('/img/logo_red.svg', width: '134', height:'65'), root_path
        =link_to 'https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8', class: "aaa" do
          %img.app{src: "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}
        =link_to 'https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja', class: "sss" do
          %img.googl{src: "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"} 
    .bottom__right
      %img.bottomprint{src: "https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png"}/




%footer.footer
  .footer-contents
    .footer-content
      %h2.footer-content-title メルカリについて
      %ul.footer-contnt-lists
        %li.footer-contnt-list
          .list-contents 会社概要（運営会社）
        %li.footer-content-list
          .list-contents 採用情報
        %li.footer-content-list
          .list-contents プレスリリース
        %li.footer-content-list
          .list-contents 公式ブログ
        %li.footer-content-list
          .list-contents メルカリロゴ利用ガイドライン
        =link_to 'https://twitter.com/mercari_jp', class: "ddd" do
          %i.fab.fa-twitter
        =link_to 'https://www.facebook.com/mercarijp', class: "fff" do
          %i.fab.fa-facebook-square
    .footer-content
      %h2.footer-content-title ヘルプ＆ガイド
      %ul.footer-contnt-lists
        %li.footer-content-list メルカリガイド
        %li.footer-content-list らくらくメルカリ便
        %li.footer-content-list ゆうゆうメルカリ便
        %li.footer-content-list 大型メルカリ便
        %li.footer-content-list 車体取引ガイド
        %li.footer-content-list メルカリあんしん・あんぜん宣言！
        %li.footer-content-list 偽ブランド品撲滅への取り組み
        %li.footer-content-list メルカリボックス
    .footer-content2
      %h2.footer-content-title プライバシーと利用規約
      .footer-center
        .footer-left
          %ul.footer-content-lists
            %li.footer-content-list プライバシーポリシー
            %li.footer-content-list メルカリ利用規約
            %li.footer-content-list あんしんスマホサポート制度に関する利用特約
            %li.footer-content-list コンプライアンスポリシー
        .footer-right
          %ul.footer-content-lists
            %li.footer-content-list 個人データの安全管理に係る基本方針
            %li.footer-content-list 特定商取引に関する表記
            %li.footer-content-list 資金決済法に基づく表示
            %li.footer-content-list 法令順守と犯罪抑止のために
    .footer-content
      %h2.footer-content-title 国
      %ul.footer-contnt-lists
        %li.footer-content-list 日本
        %li.footer-content-list United stases
  .footer-logo
    .sc-drlKqa.hdALBW
      =link_to image_tag('/img/fmarket_logo_white.svg', width: '134 N ', height:'40',), root_path
    %span.footername © 2019 Mercari
