body {
  height: 100%;
}
.bold {
  font-weight: bold;
}
.entry_wrapper {
  &-btn {
    height: 600px;
  }
}
#progressbar[value] {
  appearance: none;
  -webkit-appearance: none;
  background-color: #eee;
  border-radius: 2px;
  color: #63cf0c; /* IE */
  height: 4px;
  width: 430px;
  line-height: 5px;
  margin-left: 258px;
  margin-bottom: 5px;
  z-index: 1;
  position: absolute;
  top: 85px;
  left: 360px;
  &::-webkit-progress-value {
    background:red
  }
}
.top_image {
  text-align: center;
}
.progress-wrap {
  width: 700px;
  margin: auto;
  padding-top: 20px;
}
.progress-bar {
  text-align: right;
  float: right;
  box-sizing: border-box;
  width: 480px;
  height: 50px;
  display: flex;
  line-height: 50px;
  justify-content: space-between;
}
.progress-bar-clear {
  height: 2px;
}
.return-color {
  color: #888;
}
.progress-bar-red {
  color: red;
  z-index: 2;
  list-style: none;
  &::after {
    content: "●";
    display: block;
    text-align: center;
    line-height: .9;
    font-size: 35px;
  }
}
.progress-bar-normal {
  color: #888;
  z-index: 2;
  list-style: none;
  &::after {
    content: "●";
    display: block;
    text-align: center;
    line-height: .9;
    font-size: 35px;
  }
}
.member-wrap {
  width: 700px;
  height: 100%;
  background: #fff;
  margin: 70px auto 0;
  padding-bottom: 30px;
  & h2 {
    background: #fff;
    font-size: 22px;
    height: 100px;
    margin-bottom: 0;
    padding: 32px;
    border-bottom: 2px solid #eee;
    text-align: center;
    box-sizing: border-box;
  }
}

.entry_wrapper .member-wrap {
  width: 456px;
  height: 100%;
  margin: 70px auto 0;
  padding-bottom: 30px;
  & h2 {
    background: #fff;
    font-size: 22px;
    height: 100px;
    margin-bottom: 0;
    padding: 32px;
    border-bottom: 2px solid #eee;
    text-align: center;
    box-sizing: border-box;
  }
}
.new_user {
  background: #fff;
  padding: 30px 0;
  text-align: center;
}
.top-display {
  color: #333;
  list-style: none;
}

.required {
  color: #fff;
  background: red;
  font-size: 12px;
  padding: 2px 4px;
  margin-left: 8px;
  &-any {
    background: #aaa;
    color: #fff;
    font-size: 12px;
    padding: 2px 4px;
    margin-left: 8px;
    }
}
.field {
  width: 343px;
  margin: 32px auto 0;
  text-align: left;
  &_border {
    border-bottom: 2px solid #eee;
    margin: 8px auto 0;
    height: 40px;
    width: 343px;
    background: #0099e8;
    line-height: 40px;
    text-align: center;
  }
}
.field_border-f {
  border-bottom: 2px solid #eee;
  margin: 8px auto 0;
  height: 50px;
  width: 343px;
  background: #385185;
  line-height: 50px;
  text-align: center;
  border-radius: 4px;
  &:hover {
    opacity: .7;
  }
}
.field_border-g {
  background: #fff;
  color: #333;
  height: 50px;
  width: 343px;
  line-height: 50px;
  text-align: center;
  margin: 8px auto 0;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  &:hover {
    opacity: .7;
  }
}
.field-box {
  margin: 30px 0;
  width: 456px;
  border-bottom: 1px solid #eee;
}
.field-box p {
  padding-top: 30px;
}
.field_border {
  border-bottom: 2px solid #eee;
  margin-bottom: 40px;
  border-radius: 4px;
  height: 50px;
  line-height: 50px;
  &:hover {
    opacity: .7;
  }
}

.submit-button_start {
  background: red;
    color: #fff;
    height: 50px;
    width: 343px;
    border-style: none;
    font-size: 14px;
    margin-left: 175px;
    display: block;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
}
.img_field {
  width: 378px;
  margin-left: 158px;
  margin-top: 10px;
}

.member-text_num{
  width:309px;
  height: 33px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
}

.member-text_exp {
  height:40px;
  width:60px;
  margin-bottom: 5px;
}
#user_birthday_year {
  height:40px;
  width:60px;
  margin-bottom: 5px;
}

#user_birthday_month {
  height:40px;
  width:60px;
  margin-bottom: 5px;
}

#user_birthday_day {
  height:40px;
  width:60px;
  margin-bottom: 5px;
}

.field a.submit-button-facebook {
  height: 60px;
  border-style: none;
}
.field-input {
  height: 48px;
  width: 343px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 10px 16px 8px;
  margin-top: 8px;
  border-radius: 4px;
  font-size: 16px;
}
.member-text {
  font-size: 14px;
  font-weight: normal;
  padding: 10px;
  text-align: left;
  
}
#password-check {
  height: 20px;
  width: 200px;
  border-style: none;
  &::after {
    content: 'パスワードを表示する';
    padding-left: 20px; 
    font-size: 14px;
  }
}

.submit-button_card{
  background: red;
  color: #fff;
  height: 50px;
  width: 343px;
  border-style: none;
  font-size: 14px;
  margin-left: 175px;
}

.submit-button {
  background: red;
  color: #fff;
  height: 50px;
  width: 343px;
  border-style: none;
  font-size: 14px;
  &-text {
    text-align: right;
    width: 343px;
    margin: 10px auto;
    & a {
      text-decoration: none;
      color: #0099e8;
      font-size: 14px;
      &:hover {
        opacity: .7;
      }
    }
    &-left1 {
      text-align: left;
      width: 343px;
      margin: 10px auto;
      & a {
        text-decoration: none;
        color: #0099e8;
        font-size: 14px;
      }
    }
  }
  &-blue {
    color: #fff;
    }
  &-facebook {
    color: #fff;
  }
  &-Google {
    color: #333;
  }
}
.footer {
  &-wrap {
  display: flex;
  list-style: none;
  font-size: 12px;
  color: #333;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 20px 0 0 0;
}
.footer-box {
  background: rgb(245, 245, 245);
  height: 100%;
}
  &-text {
  margin: 0 10px;
}
  &-image {
    width: 700px;
    text-align: center;
    margin-top: 20px;
    margin: auto;
  }
  &-copy {
    width: 700px;
    text-align: center;
    color: #333;
    margin: auto;
    & p {
      font-size: 12px;
      padding: 0 0 50px;
    }
  }
}
.member-person-wrap {
  width: 343px;
  margin: 24px auto 0;
  &-suer {
    & h3 {
      font-size: 14px;
      font-weight: bold;
      text-align: left;
      color: #333;
    }
    &-text p {
      font-size: 14px;
      margin: 8px 0 0;
      text-align: left;
      color: #333;
    }
  }
}
.field-input-half {
  height: 48px;
  width: 165px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 10px 16px 8px;
  margin: 8px 4px 0 0;
  border-radius: 4px;
  font-size: 16px;
}
.field-input-time {
  height: 48px;
  width: 76px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 0 8px;
  margin: 8px 4px 0 0;
  border-radius: 4px;
  font-size: 16px;
}
.member-person-wrap-suer-text-center {
  text-align: center;
  font-size: 14px;
  color: #333;
}
.footer_wrapper {
  margin-top: 150px;
  &-btn {
    margin: 0;
  }
}
.button-wrap {
  width: 700px;
  margin: auto;
  text-align: center;
  padding-bottom: 30px;
  background: #fff;
  & h2 {
    background: #fff;
    font-size: 22px;
    height: 100px;
    margin-bottom: 0;
    padding: 32px;
    border-bottom: 2px solid #eee;
    text-align: center;
    box-sizing: border-box;
  }
}
.button-wrap-bold {
  width: 700px;
  margin: auto;
  text-align: center;
  padding-bottom: 30px;
  background: #fff;
  & h2 {
    background: #fff;
    font-size: 22px;
    height: 100px;
    margin-bottom: 0;
    padding: 32px;
    border-bottom: 2px solid #eee;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
  }
}
.btn {
  border-radius: 4px;
  color: #fff;
  background-color: #ea352d;
  font-size: 14px;
  width: 343px;
  height: 50px;
  cursor: pointer;
  position: relative;
  margin: 0 auto 30px;
  display: flex;
  align-items: center;
  box-shadow: 1px 2px 4px rgba(0,0,0,.2);
  &:hover {
  opacity: .7;
  }
}
.far.fa-envelope,.fab.fa-facebook-square,.fab.fa-google {
  padding: 10px;
  font-size: 30px;
}
.btn-mail-text {
  padding: 10px;
  width: 260px;
}
.btn-blue {
  background: #385185;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  width: 343px;
  height: 50px;
  cursor: pointer;
  position: relative;
  margin: 0 auto 30px;
  display: flex;
  align-items: center;
  box-shadow: 1px 2px 4px rgba(0,0,0,.2);
  &:hover {
  opacity: .7;
  }
}

.btn-white {
  background: rgb(249, 249, 249);
  border-radius: 4px;
  color: #385185;
  font-size: 14px;
  width: 343px;
  height: 50px;
  cursor: pointer;
  position: relative;
  margin: 0 auto 30px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  box-shadow: 1px 2px 4px rgba(0,0,0,.2);
  &:hover {
  opacity: .7;
  }
}
