@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "slick-theme"; 
@import "slick";
@import "carousel";
@import "posts/index";
@import "posts/show";
@import "posts/user";
@import "posts/new";
@import "posts/search";
@import "posts/category";

@import "mypage/index";
@import "mypage/show";
@import "buy_order_confirmations";
@import "mypage/destroy";
@import "mypage/delete";
@import "mypage/profile";
@import "mypage/confirmation";
@import "mypage/card";
@import "mypage/address";
@import "mypage/password";
@import "mypage/identification";
@import "cards/new";
@import "signup";





/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header {
    width: 100%;
    background-color: white;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
}

.all-contents {
    width: 1050px;
    margin: 0px auto;
    padding: 8px 0px 0px;
}

.top-contents {
    height: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left-content {
    float: left;
}

img.rogo {
    width: 20%;
    height: 40px;
    margin-right: 45px;
}

.right-content {
    float: right;
    width: 80%;
    height: 40px;
    display: flex;
    .item-search {
        width: 100%;
        height: 40px;
        position: relative;
    }
    .search-form {
        width: 100%;
        height: 40px;
        background-color: whitesmoke;
        position: relative;
        font-size: 16px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(204, 204, 204);
        border-image: initial;
        border-radius: 4px;
        padding: 0px 50px 0px 10px;
        position: relative;
    }
    .search-btn {
        background-color: transparent;
        cursor: pointer;
        height: 40px;
        position: absolute;
        top: 0;
        right: 0;
        width: 45px;
        -webkit-appearance: none;
        border-width: initial;
        border-style: none;
        border-color: initial;
        border-image: initial;
        border-radius: 0px 4px 4px 0px;
        padding: 0px;

    
    }
    .fas.fa-search {
        font-size: 14px;
    }
}

.bottom-contents {
    height: 50px;
    display: flex;
    justify-content: space-between;
    width: 1060px;
}

.left-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px
}

.fas.fa-list-ul{
    margin-right: 4px;
}
.fas.fa-tag{
    margin-right: 4px;
}


.bottom-contents ul {
    list-style-type: none;
    padding: 0;
    color: #fff;
    z-index: 1;
}

.bottom-contents li {
    position: relative;
    display: block;
    cursor: pointer;
}

.left-contents>li {
    margin: 5px;
    display: inline;
}

h3 {
    font-weight: bold;
}

.category-lists {
    width: 224px;
    display: none;
    position: absolute;
    background: white;
}

.category-lists li:hover {
    background-color: rgb(234, 53, 45);
    color: white;
}

.category-search :hover {
    color: black
  }
  
.category-search li:hover > ul {
    display: block;
  }
  .category-search ul li {
	line-height: 44px;
	text-align: left;
    font-weight: normal;
    width: 224px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.category-name {
	color: black;
    display: block;
    padding-left: 15px;
}

.category-search ul ul {
	margin: 0px;
	padding: 0px;
	display: none;
	position: absolute;
	top: 0;
    left: 100%;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}






.brand-lists {
    width: 224px;
    display: none;
    position: absolute;
    background: white;
    li {
        width: 100%;
        height: 44px;
        p {
            padding-left: 15px;
            padding-top: 10px;
        }
    }
}

.brand-lists li:hover {
    background-color: rgb(234, 53, 45);
}


.fa-list-ul:before {
    color: rgb(234, 53, 45);
}

.fas.fa-tag:before {
    color: rgb(234, 53, 45);
}

.sc-RefOD.jwHbWf {
    color: #333333;
}

.sc-RefOD.jwHbWf2 {
    color: #333333;
}

.sc-RefOD.jwHbWf3 {
    color: #333333;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: 32px;
}

.right-contents {
    display: flex;
    margin: 0 7px 0 7px;
    justify-content: center;
    align-items: center;
}

.left-content {
    padding-right: 14px;
    display: flex;
    padding-bottom: 10px;
    :hover{
            color: #0095ee;
    }
}

.middle-content1 {
    padding: 0px 14px;
    padding-bottom: 10px;
    :hover{
            color: #0095ee;
    }
}
.middle-content2 {
    padding: 0px 14px;
    padding-bottom: 10px;
    :hover{
            color: #0095ee;
    }
}

.right-content1 {
    padding-left: 14px;
    padding-bottom: 10px;
    :hover{
            color: #0095ee;
    }
}

.header-menu {
    display: flex;
    align-items: center;
    color: #333333;
    overflow: hidden;
    height: 50px;
}

.usericon {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.search-contents {
    height: 150vh;
}

.right-box {
    display: flex;
    align-items: center;
}

.right-list {
    text-align: center;
}

.right-name {
    background-color: rgb(234, 53, 45);
    color: rgb(255, 255, 255);
    padding: 8px 10px;
    border-radius: 4px;
    border-color: rgb(234, 53, 45);
    border-width: 1px;
    font-size: 14px;
}

.right-list2 {
    text-align: center;
    margin-left: 11px;
}

.right-name2 {
    font-size: 14px;
    padding: 8px 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 149, 238);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0, 149, 238);
    border-radius: 4px;
}