@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "posts/show";
@import "posts/index";

@import "mypage/index";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header {
    width: 100%;
    background-color: white;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
}

.all-contents {
    width: 1020px;
    margin: 0px auto;
    padding: 8px 0px 0px;
}

.top-contents {
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.left-content {
    float: left;
}

img.rogo {
    width: 134px;
    height: 40px;
    margin-right: 45px;
}

.right-content {
    float: right;
    width: 841px;
    height: 40px;
    display: flex;
    .item-search {
        width: 841px;
        height: 40px;
    }
    .search-form {
        width: 841px;
        height: 40px;
        background-color: whitesmoke;
        font-size: 16px;
        border-width: 1px;
        border-style: solid;
        border-color: #CCCCCC;
        padding: 0px 50px 0px 10px;
    }
    .search-btn {
        width: 40px;
        height: 40px;
        background-color: rgb(245, 245, 245);
        position: absolute;
    }
    .fas.fa-search {
        font-size: 14px;
    }
}

.bottom-contents {
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    width: 1062px;
}

.left-contents {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px
}

.bottom-contents ul {
    // text-align: center;
    list-style-type: none;
    padding: 0;
    color: #fff;
    z-index: 1;
}

.bottom-contents li {
    position: relative;
    // padding: 5px;
    display: block;
    cursor: pointer;
}

.left-contents>li {
    margin: 5px;
    display: inline;
}

h3 {
    font-weight: bold;
}

.category-lists {
    width: 224px;
    display: none;
    position: absolute;
    background: white;
    li {
        width: 100%;
        height: 50px;
        p {
            padding-top: 13px;
            padding-left: 15px;
        }
    }
}

.category-lists li:hover {
    background-color: rgb(234, 53, 45);
    color: white;
}

ul.ladies-lists {
    z-index: 2;
    width: 224px;
    display: none;
    position: absolute;
    background: white;
     :hover {
        background-color: rgb(230, 230, 230);
        // color: #000;
    }
    li {
        width: 100%;
        height: 50px;
        p {
            padding-top: 13px;
            padding-left: 15px;
        }
    }
}

.brand-lists {
    width: 224px;
    display: none;
    position: absolute;
    background: white;
    li {
        width: 100%;
        height: 50px;
        p {
            padding-top: 13px;
            padding-left: 15px;
        }
    }
}

.brand-lists li:hover {
    background-color: rgb(234, 53, 45);
    color: white;
}

.fa-list-ul:before {
    color: rgb(234, 53, 45);
}

.fas.fa-tag:before {
    color: rgb(234, 53, 45);
}

.sc-RefOD.jwHbWf {
    color: #333333;
}

.sc-RefOD.jwHbWf2 {
    color: #333333;
}

.sc-RefOD.jwHbWf3 {
    color: #333333;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    height: 32px;
}

.right-contents {
    display: flex;
    margin: 0 7px 0 7px;
    justify-content: center;
    align-items: center;
}

.left-content {
    padding-right: 14px;
    display: flex;
    padding-bottom: 10px;
}

.middle-content1 {
    padding: 0px 14px;
    padding-bottom: 10px;
}

.middle-content2 {
    padding: 0px 14px;
    padding-bottom: 10px;
}

.right-content1 {
    padding-left: 14px;
    padding-bottom: 10px;
}

.header-menu {
    display: flex;
    align-items: center;
    color: #333333;
    overflow: hidden;
    height: 50px;
}

.usericon {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.search-contents {
    height: 150vh;
}