.container {
    padding: 0 0 0px;
    font-weight: bold;
    .footer_wrapper {
        font-weight: normal;
        margin-top: 10px;
        img {
            height: 150px;
        }
    }
    select {
        font-weight: normal;
        height: 50px;
        width: 100%;
        background-color: #fff;
        cursor: pointer;
        border: 1px solid #ccc;
    }
    input {
        border-radius: 5px;
        font-weight: normal;
    }
    .content_buy_header {
        width: 100%;
        height: 126px;
        img {
            width: 100%;
            margin-top: 25px;
        }
    }
    .newmain {
        display: block;
        .main_container {
            width: 775px;
            margin: 0 auto;
            background-color: #fff;
            .container-into {
                .container-into_header {
                    font-size: 22px;
                    text-align: center;
                    padding: 32px 16px;
                    line-height: 1.5;
                    font-weight: bold;
                    border-bottom: 1px solid #eee;
                }
                .text {
                    margin: 8px 0 8px;
                    .image_upload {
                        padding: 40px;
                        .image_upload_box {
                            display: flex;
                        }
                        .text {
                            font-size: 13px;
                        }
                        .image_box_main {
                            // display: grid;
                            // width: 695px;
                            // background: #f5f5f5;
                            // border: 1px dashed #ccc;
                            // min-height: 162px;
                            // text-align: center;
                            display: flex;
                            align-items: center;
                            input {
                                display: none;
                            }
                            #post_images_attributes_0_image_url {
                                display: block;
                                width: 100%;
                                background: #f5f5f5;
                                border: 1px dashed #ccc;
                                min-height: 162px;
                                text-align: center;
                            }
                            .preview {
                                // flex-wrap: wrap;
                                margin: 10px;
                            }
                            .btnimage{
                                margin:5px;
                            }
                            .btn-wrapper{
                                display: flex;
                                width: 100px;
                                height: 100px;
                                margin: 5px;
                            }
                            .new-btn-edit{
                                color: skyblue;
                                margin: 5px;
                            }
                            .new-btn-delete{
                                color: skyblue;
                                margin: 5px;
                            }
                            .image_box {
                                align-content: stretch;
                                width: 80%;
                                height: 150px;
                                text-align: center;
                                padding: 10px 10px 10px 10px;
                                border: 1px solid #ccc;
                            }
                        }
                    }
                    .good_content {
                        padding: 40px;
                        border-top: 1px solid #eee;
                        .good_content_box {
                            display: flex;
                            width: 620px;
                        }
                        .good_box {
                            width: 100%;
                            height: 30px;
                            border-style: groove, border-width thin;
                            border: 1px solid #ccc;
                            padding: 10px 16px 8px;
                            margin: 8px 0 0;
                        }
                        .good_description {
                            display: flex;
                            margin-top: 30px;
                        }
                        .good_description_box {
                            width: 100%;
                            height: 125px;
                            border-style: groove, border-width thin;
                            border: 1px solid #ccc;
                            border-radius: 0px;
                            margin: 8px 0 0;
                            padding: 10px;
                        }
                    }
                    .good_content_detail {
                        padding: 40px;
                        border-top: 1px solid #eee;
                        display: flex;
                        justify-content: space-between;
                        .good_content_detail_title {
                            float: left;
                        }
                        .good_content_form {
                            width: 400px;
                            float: right;
                            .sell__about__right__wrap {
                                .child {
                                    display: none;
                                }
                                .grand_child {
                                    display: none;
                                }
                            }
                            .good_form_2 {
                                // margin-top: 50px;
                                .good_form_2_box {
                                    display: flex;
                                }
                                .good_form_box {
                                    width: 100%;
                                    height: 50px;
                                    border: 1px solid #ccc;
                                }
                            }
                            .good_form_3 {
                                // margin-top: 50px;
                                .good_form_3_box {
                                    display: flex;
                                }
                                .good_form_box {
                                    width: 100%;
                                    height: 50px;
                                    border: 1px solid #ccc;
                                }
                            }
                        }
                    }
                    .good_send_how {
                        padding: 40px;
                        border-top: 1px solid #eee;
                        display: flex;
                        justify-content: space-between;
                        .good_send_how_title_box {
                            display: flex;
                            width: 200px;
                            float: left;
                            align-items: center;
                            height: 25px;
                            .good_send_how_title {}
                            .good_send_question {
                                height: 20px;
                                margin-left: 5px;
                                background: #0099e8;
                                border-radius: 50%;
                                color: #fff;
                                width: 20px;
                                display: inline-block;
                                text-align: center;
                            }
                        }
                        .good_send_how_form {
                            width: 400px;
                            float: right;
                            margin-top: 0px;
                            .good_send_task {
                                padding-top: 20px;
                            }
                            .good_send_how_form_1 {
                                .good_send_task {
                                    display: flex;
                                }
                                .good_send_task_box {
                                    width: 100%;
                                    height: 50px;
                                    margin-top: 4px;
                                    border: 1px solid #ccc;
                                }
                            }
                            .good_send_how_form_2 {
                                .good_area {
                                    display: flex;
                                    margin-top: 3px;
                                }
                                .good_area_box {
                                    width: 100%;
                                    height: 50px;
                                    margin-top: 4px;
                                    border: 1px solid #ccc;
                                    .good_gyanru_box {
                                        position: relative;
                                        top: 16px;
                                        left: 89%;
                                        background-color: darkmagenta;
                                        width: 20px;
                                        height: 20px;
                                    }
                                    .good_sclloe_box {}
                                }
                            }
                            .good_send_how_form_3 {
                                .good_send_day {
                                    display: flex;
                                }
                                .good_send_day_box {
                                    width: 100%;
                                    height: 50px;
                                    margin-top: 4px;
                                    border: 1px solid #ccc;
                                }
                            }
                        }
                    }
                    .good_cost {
                        padding: 40px;
                        border-top: 1px solid #eee;
                        display: flex;
                        justify-content: space-between;
                        .good_cost_title_box {
                            display: flex;
                            width: 200px;
                            float: left;
                            align-items: center;
                            height: 25px;
                            .good_cost_title {
                                font-size: 14px;
                            }
                            .good_cost_question {
                                height: 20px;
                                margin-left: 5px;
                                background: #0099e8;
                                border-radius: 50%;
                                color: #fff;
                                width: 20px;
                                display: inline-block;
                                text-align: center;
                            }
                        }
                        .good_cost_box {
                            width: 400px;
                            float: right;
                            .cost {
                                height: 60px;
                                .cost_clearfix_box {
                                    .title_cost {
                                        display: flex;
                                        float: left;
                                        .cost_clearfix_titie {}
                                    }
                                    .cost_clearfix_num {
                                        float: right;
                                        display: flex;
                                        .money_key {
                                            margin: 10px 5px 0 0;
                                            font-weight: normal;
                                        }
                                        .input_cost {
                                            width: 100px;
                                            height: 40px;
                                            border: 1px solid #ccc;
                                            text-align: right;
                                            padding: 0px 10px 0px;
                                        }
                                    }
                                }
                            }
                            .tasx {
                                border-top: 1px solid #ccc;
                                height: 60px;
                                .tasx_clreafix {
                                    font-weight: normal;
                                    .left_task {
                                        top: 30px;
                                        float: left;
                                        padding-top: 20px;
                                    }
                                    .right_task {
                                        float: right;
                                        padding-top: 20px;
                                    }
                                }
                            }
                            .profit {
                                border-top: 1px solid #ccc;
                                height: 60px;
                                .profit_box {
                                    .left_profit {
                                        float: left;
                                        padding-top: 20px;
                                    }
                                    .right_profit {
                                        float: right;
                                        padding-top: 20px;
                                    }
                                }
                            }
                        }
                    }
                    .sell_btn {
                        padding: 40px;
                        border-top: 1px solid #eee;
                        height: 240px;
                        font-weight: normal;
                        .sell_btn_text {
                            .h1 {
                                font-size: 13px;
                            }
                            .h2 {
                                font-size: 13px;
                            }
                            .h3 {
                                font-size: 13px;
                            }
                        }
                    }
                    .sell_btn_confirm {
                        input {
                            width: 100%;
                            height: 50px;
                            margin-top: 44px;
                            background: #ea352d;
                            color: #fff;
                            border-radius: 0px;
                            cursor: pointer;
                        }
                    }
                    .sell_btn_back {
                        height: 50px;
                        width: 45%;
                        margin: 24px auto 0;
                        text-align: center;
                        background-color: #aaa;
                        line-height: 50px;
                        a {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

.content_form {
    padding: 10px 0;
    width: 100%;
}

.form_label {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.must {
    background: #ea352d;
    padding: 4px;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
    font-weight: bold;
    margin-left: 5px;
    height: 15px;
    width: 25px;
}

.form-require-gray {
    background: #d4d4d4;
    padding: 4px;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
    font-weight: bold;
    margin-left: 5px;
    height: 15px;
    width: 25px;
}
.content_forminput-default{
    padding: 10px 0px 10px 16px;
    height: 28px;
    width: 382px;
    border: 1px solid #ccc;
}
