.search_list_main{
  display: flex;
  width: 1020px;
  margin: 40px auto;
  .side_list_main{
    float: left;
    width: 380px;
  }
  .search_box{
    top:0;
    left: 0;
    width: auto;
    opacity: 1;
    border: solid 1px ;
    height: 40px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    
  }
  .search_list{
    background-color: #fff;
    margin: 40px 0 0 0 ;
    display: block;
    padding:10px;
  }
  .search_title{
    font-style: initial;
    font-size: 16px;
  }
  .search_keyword{
    margin: 24px 0;
    width: 100%;
    &_box{
      display: flex;
    }
  }
    .fa-plus{
      color: #888;
      margin-right: 5px;
      vertical-align:middle ;
      padding: 5px 0 0 0 ;
    }
    .text{
      font-size: 16px;
    }
    .search{
      height: 40px;
      border-radius: 4px ;
      margin: 5px 0px 5px 5px;
      width: 90%;
      border: 1px solid #ccc;

    }
  .search_category{
    margin: 24px 0;
    .fa-list{
      color: #888;
      margin-right: 5px;
      padding: 5px 0 0 0 ;
    }
  }
  .search_bland{
    margin: 24px 0;
    .fa-tag{
      color: #888;
      margin-right: 5px;
      padding: 5px 0 0 0 ;
    }
  }
  .search_size{
    margin: 24px 0;
    .fa-expand{
      color: #888;
      margin-right: 5px;
      padding: 5px 0 0 0 ;
    }
  }
  .search_price{
    margin: 24px 0;
    .fa-coins{
      color: #888;
      margin-right: 5px;
      padding: 5px 0 0 0 ;
    }
    .price_box{
      width: 40%;
      height: 48px;
      border-radius: 4px ;
      border: 1px solid #ccc;
      margin: 5px 0px 5px 5px;
    }
  }
  .search_condition{
    .fa-star{
      color: #888;
      margin-right: 5px;
      padding: 5px 0 0 0 ;
    }
    .check_box{
      width: 48%;
      display:inline-block;
      .text1{
        font-size: 12px;
      }
    }
    .check_main1{
      margin:15px 0 15px 0;
    }
    .check_box_2{
      width: 50%;
      font-size: 13px;
    }
  }
  .search_custumer{
    margin: 24px 0;
    .fa-truck-moving{
      color: #888;
      margin-right: 5px;
      padding: 5px 0 0 0 ;
    }
    .check_box{
      margin: 10px 0 10px 0;
      .text1{
        font-size: 12px;
      }
    }
    .custumer_box{
      margin: 10px 0 10px 0 ;
    }
  }
  .search_status{
    .search_keyword_box{
      margin: 10px 0 10px 0;
    }
    .fa-weight-hanging{
      color: #888;
      margin-right: 5px;
      padding: 5px 0 0 0 ;
    }
  }
  .search_btn{
    display: flex;
    .clear_box{
      width: 110px;
      float: left;
      background-color: #aaa;
      text-align: center;
      line-height: 50px;
      color: #fff;
      margin-top: 30px;
      height: 50px;
    }
    .finish_box{
      background-color: red;
      width: 110px;
      float: right;
      text-align: center;
      line-height: 50px;
      color: #fff;
      font-size: 15px;
      margin-top: 30px;
      margin-left: 20px;
      height: 50px;
    }
  }
  .item__box-lists{
    float: right;
    margin: 0 0 0 40px ;
  }
  
}