.breadcrumbs
  = breadcrumbs pretext: "",separator: " &rsaquo; ", class: "breadcrumbs-list"

  -# .breadcrumbs
  -# %span.pretext You are here:
  -# %a{:href => "/"} Home
  -# ›
  -# %a{:href => "/issues"} All issues
  -# ›
  -# %span.current My Issue